<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>목포시 전기차 충전소 예약</title>
        <link rel="stylesheet" href="static/css/reservation.css">
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    </head>
    <body>
        <div class="reservation-container">
            <h2>예약 시스템</h2>
            <form id="reservationForm">
                <label for="name">핸드폰 번호:</label>
                <input type="text" id="number" name="number" required>

                <label for="date">날짜:</label>
                <input type="date" id="date" name="date" required>

                <label for="time">시간:</label>
                <input type="time" id="time" name="time" required>

                <button id="submitReservation" class="btn btn-primary">예약하기</button>
            </form>
            <script src="/static/js/reservation.js"></script>
        </div>
    </body>
</html>